$pageBackground: #1f2120;

$headerColor: #efefef;
$headerBackground: #161717;
$headerHover: #21201f;
$menuBorder: rgba(255, 255, 255, 0.2);

$bodyColor: #fbffff;
$linkHoverColor: #555555;

$buttonBackground: #fbffff;
$buttonColor: #171616;
$buttonBackgroundHover: #171616;
$buttonColorHover: #fbffff;
$buttonBorderColor: #fbffff;

$navItemColor: #c8a47e;

$buttonPrimaryBackground: #c8a47e;
$buttonPrimaryBackgroundHover: #aa8b71;
$buttonPrimaryColor: #000000;
$buttonPrimaryColorHover: #000000;
