$pageBackground: #1f2120;

$headerColor: #efefef;
$headerBackground: #4f5150;
$headerHover: #201926;

$bodyColor: #ffffff;
$linkHoverColor: #555555;

$buttonBackground: #ffffff;
$buttonColor: #1f2120;
$buttonBackgroundHover: #1f2120;
$buttonColorHover: #ffffff;
$buttonBorderColor: #ffffff;

$navItemColor: #c8a47e;

$buttonPrimaryBackground: #c8a47e;
$buttonPrimaryBackgroundHover: #aa8b71;
$buttonPrimaryColor: #000000;
$buttonPrimaryColorHover: #000000;
